

.home-page {
  padding: 2rem;
  padding-top: 5rem;
}

.about-section {
  margin-bottom: 3rem;
}

.about-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-text {
  max-width: 500px;
}

.reserve-button {
  background-color: #333;
  color: #fff;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}

/* Specials Section */
.specials-section {
    margin-bottom: 3rem;
  }
  
  .menu-button {
    background-color: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    margin-bottom: 1rem;
  }
  
  .dish-cards {
    display: flex;
    justify-content: space-between;
  }
  
  .dish-card {
    width: 30%;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 1rem;
    text-align: left;
  }
  
  .dish-card img {
    width: 100%;
    height: 200px; /* Adjust the height as needed */
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 1rem;
  }
  
  .price {
    color: #ffcc00;
    font-weight: bold;
    margin: 0.5rem 0;
  }
  
  .order-button {
    background-color: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
  }


/* Testimonials Section */
.testimonials-section {
  text-align: center;
}

.testimonial-card {
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.testimonial-rating {
  font-size: 2rem;
}

.testimonial-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
}

.testimonial-info h4 {
  margin: 0 0.5rem;
}

.testimonial-info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.testimonial-text {
  margin-top: 1rem;
}
